<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JingShi Bookstore. Register</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="/static/css/style.default.css" id="theme-stylesheet">
</head>
<body>
<div class="page login-page">
    <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
            <div class="row">
                <!-- Logo & Information Panel-->
                <div class="col-lg-6">
                    <div class="info d-flex align-items-center">
                        <div class="content">
                            <div class="logo">
                                <h1>JingShi</h1>
                                <h1>Bookstore.</h1>
                            </div>
                            <p>欢迎注册</p>
                        </div>
                    </div>
                </div>
                <!-- Form Panel    -->
                <div class="col-lg-6 bg-white">
                    <div class="form d-flex align-items-center">
                        <div class="content">
                            <div class="input-group mb-3">
                                <input id="register-phoneNumber" type="text" class="form-control rounded-0" name="registerPhoneNumber" placeholder="请输入手机号">
                                <span class="input-group-append">
                                    <button id="code" onclick="getCode1()" type="button" class="btn btn-info btn-flat">获取验证码</button>
                                </span>
                            </div>
                            <br>
                            <div class="form-group">
                                <input id="register-code" class="input-material" type="text" name="registerCode" placeholder="输入手机验证码" >
                            </div>
                            <div class="form-group">
                                <input id="register-username" class="input-material" type="text" name="registerUsername" placeholder="请输入用户名/姓名" >
                            </div>
                            <div class="form-group">
                                <input id="register-password" class="input-material" type="password" name="registerPassword" placeholder="请输入密码"   >
                            </div>
                            <div class="form-group">
                                <input id="register-passwords" class="input-material" type="password" name="registerPasswords" placeholder="确认密码"   >
                            </div>
                            <div class="form-group">
                                <button id="regbtn" type="button" onclick="regis()" name="registerSubmit" class="btn btn-primary">注册</button>
                            </div>
                            <small>已有账号?</small><a href="login.html" class="signup">&nbsp;登录</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- JavaScript files-->
<script src="https://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.2.1/bootstrap.min.js"></script>
<script src="/static/js/front.js"></script>
<script src="/static/js/public.js"></script>
<script src="/static/js/sweetalert.min.js"></script>
<script>
    function regis() {
        var phoneNumber = $("#register-phoneNumber").val();
        if (!validPhoneNumber(phoneNumber)) {
            swal('请输入正确的手机号码', {
                icon: "error",
            });
            return false;
        }
        var code = $("#register-code").val();
        //if (!validCode(code)) {}
        var name = $("#register-username").val();
        if (!validUserName(name)) {
            swal('请输入正确的用户名 4到16位（字母，数字，下划线，减号，不支持中文）（且需唯一）', {
                icon: "error",
            });
            return false;
        }
        var password = $("#register-password").val();
        var passwords = $("#register-passwords").val();
        if (!validPassword(password)) {
            swal('请输入正确的密码格式(6-20位字符和数字组合)', {
                icon: "error",
            });
            return false;
        }
        if (!validPassword(passwords)) {
            swal('请输入正确的密码格式(6-20位字符和数字组合)', {
                icon: "error",
            });
            return false;
        }
        //验证
        if (password != passwords) {
            swal('两次密码输入不正确', {
                icon: "error",
            });
            return false;
        }
        var url = '/user/register';
        $.ajax({
            type: 'POST',//方法类型
            url: url,
            data: {"loginName":name, "phoneNumber": phoneNumber,"code":code,"password":password},
            dataType: "json",
            success: function (result) {
                if (result.resultCode === 200) {
                    window.location.href = '/user/login';
                } else {
                    swal(result.message, {
                        icon: "error",
                    });
                }
                ;
            },
            error: function () {
                swal("操作失败", {
                    icon: "error",
                });
            }
        });
    }

    function getCode1() {
        var phoneNumber = $("#register-phoneNumber").val();
        if (!validPhoneNumber(phoneNumber)) {
            swal('请输入正确的手机号码', {
                icon: "error",
            });
            return false;
        }
        var url = '/user/verify';
        $.ajax({
            type: 'POST',//方法类型
            url: url,
            data: {"phoneNumber":phoneNumber},
            dataType: "json",
            success: function (result) {
                if (result.resultCode === 200) {
                } else {
                    swal(result.message, {
                        icon: "error",
                    });
                }
                ;
            },
            error: function () {
                swal("操作失败", {
                    icon: "error",
                });
            }
        });
    }
</script>
</body>
</html>